apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: monitoring
  namespace: flux-system
spec:
  interval: 10m
  path: "./infrastructure/monitoring"
  prune: true
  wait: true
  timeout: 5m
  dependsOn:
    - name: ingress-nginx
