ui = true
disable_mlock = true

listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_disable = 1
}

storage "raft" {
  path    = "${raft_path}"
  node_id = "${node_id}"
}

api_addr     = "${api_addr}"
cluster_addr = "${cluster_addr}"
